<html>

<head>
	<title>Pet Mall</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="static/css/public.css" />
	<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/elementui.css" />
	<link rel="shortcut icon" href="favicon.ico">
	<script src="static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vue.js"></script>
	<script src="static/js/elementui.js" type="text/javascript" charset="utf-8"></script>
</head>

<body style="min-width: 1200px; overflow-x: auto;background: #f5f5f5;">
	<div id="cdnvue">
		<div id="" class="top_gg">
			<a href="">
				<!-- <img src="static/image/top_gg.jpg" /> -->
			</a>
		</div>
		<div id="" class="shortcut">
			<div class="layout">
				<div class="s-sub">
					<ul>
						<li>
							<a href="index.html">Front Page</a>
						</li>
					</ul>
				</div>
				<div class="s-right">
					<ul>
						<!-- <li>
							<a href="index.html" v-if="!userInfo.userName">Please login first!</a>
							<a href="userInfo.html" v-else>{{userInfo.userName}}</a>
						</li> -->
						<!-- <li v-if="userInfo.userName">
								<a href="javascript:void(0)">Points{{userInfo.jifen}}</a>
							</li> -->
						<!--<li>
								<a href="javascript:void(0)" @click="dialogFormVisible = true">Register</a>
							</li>-->
						<!-- <li>
							<a href="javascript:void(0)">|&emsp;Shopping Cart</a>
						</li>
						<li>
							<a href="javascript:void(0)" @click="hrefOrder">|&emsp;Order</a>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
		<!--header-->
		<div class="header">
			<div id="" class="layout">
				<div class="left">
					<div class="logo">
						<img width="80px" height="50px" src="static/image/logo.png" />
					</div>
					<div class="naver">
						<ul id="naver-list">
							<li id="Pet_Treats" class="">
								<a href="Pet_Treats.html" >
									<span
										style="font-weight: bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-transform: uppercase;">Pet
										Treats</span>
								</a>
							</li>
							<li id="Pet_Toy" class="">
								<a href="Pet_Toy.html" >
									<span
										style="font-weight: bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-transform: uppercase;">Pet
										Toy</span>
								</a>
							</li>
							<li id="Canned_Wet_Food" class="">
								<a href="Canned_Wet_Food.html" >
									<span
										style="font-weight: bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-transform: uppercase;">Canned
										Wet Food</span>
								</a>
							</li>
							<li id="Nutrition" class="">
								<a href="Nutrition.html" >
									<span
										style="font-weight: bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-transform: uppercase;">Nutrition</span>
								</a>
							</li>
							<li id="Medical_Products" class="">
								<a href="Medical_Products.html" >
									<span
										style="font-weight: bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-transform: uppercase;">Medical
										Products</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--Right part Of Navigation-->
				<div class="right">
					<input type="text" v-model="searchVal" placeholder="Sales" class="search-text">
					<el-button class="search-btn" icon="el-icon-search" @click="onsearchVal" style="padding: 12.5px;"
						circle></el-button>
					<!-- <input type="submit" class="search-btn" @click="onsearchVal" value="Search"> -->
				</div>
			</div>
		</div>
		<!--热销单品-->
		<div id="hotPro">
			<p style="color:#666"><a href="index.html" style="color:#666"> Home </a> > Canned Wet Food
				<div class="layout">
				<ul class="grid_ul">
					<li class="grid-items" v-for="(item,index) in jsonData">
						<a :href="`detail.html?id=${item.id}`">
							<p class="grid-img">
								<!--<img :src=`static/image/${item.img}` />-->
								<img :src="'sas/upload/'+item.img" />
							</p>
							<p class="grid-title">{{item.name}}</p>
							<!-- <p class="grid-desc">{{item.jianJie}}</p> -->
							<p class="grid-price">${{item.price}}</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--底部广告-->
		<div id="bottom_gg">
			<!-- <img src="static/image/bottomgg2.jpg" /> -->
		</div>
		<!--底部服务-->
		<div class="slogan-container">
			<div class="slogan">
				<ul>
					<li class="s1">
						<i></i> eco-friendly company
					</li>
					<li class="s2">
						<i></i> 7 days' return
					</li>
					<li class="s3">
						<i></i> free delivery on all orders
					</li>
					<li class="s4">
						<i></i> excellent quality
					</li>
				</ul>
			</div>
		</div>
		<!--底部footer版权-->
		<div id="footer">
			<div class="foot">
				<!--<p class="foot_logo"><img src="static/image/flogo.png" /></p>-->
				<p class="">Designed and developed by Group Godzilla.<br /> Copyright © 2021-2022 Godzilla. All Rights
					Reserved.</p>
				<p class=""></p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function () {
		// 初始化swiper
		var mySwiper = new Swiper('.swiper-container', {
			updateOnImagesReady: true,
			direction: 'horizontal',
			loop: true,
			autoplay: 8000,
			observer: true, //修改swiper自己或子元素时，自动初始化swiper
			// 如果需要前进后退按钮
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			pagination: '.swiper-pagination',
		})
	})
</script>
<!--vue-->
<script type="text/javascript">
	// 注册
	Vue.component('my-component', {});
	var WEITUOSERVER = new Vue({
		el: '#cdnvue',
		data: {
			activeName: 'first',
			jsonData: [],
			dialogTableVisible: false,
			dialogFormVisible: false,
			form: {
				userName: '',
				userPassword: '',
				userPassword_2: '', //确认密码
				type: [],
			},
			formLabelWidth: '120px',

		},
		created() {
			this.gatData();
		},
		methods: {
			handleClick(tab, event) {
				console.log(tab, event);
			},
			gatData() {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/search.php",
					data: { "p_class": "30", "search": "search" },
					dataType: "json",
					success: function (res) {
						that.jsonData = res.data;
					},
				});
			},
			// 搜索
			onsearchVal() {
				var arg = encodeURI(encodeURI(this.searchVal));
				window.location.href = "index_search.html?arg=" + arg;
				// var that = this;
				// $.ajax({
				// 	type: "GET",
				//          url: "php/index.php",
				//          data: {"searchVal":that.searchVal,"searchName":"searchName"},
				//          dataType: "json",
				// 	success: function(res) {
				// 		that.jsonData = res.data;
				// 	},
				// });
			},
			//uuid
			uuid() {
				function _s4() {
					return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
				}
				return _s4() + _s4() + '-' + _s4() + '-' + _s4() + '-' + _s4() + '-' + _s4() + _s4() + _s4();
			},

		}

	})
</script>

</html>