<!DOCTYPE html>
<html>

<head>
	<title>Pet Product Online Mall</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="static/css/public.css" />
	<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/elementui.css" />
	<link rel="shortcut icon" href="favicon.ico">
	<script src="static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vue.js"></script>
	<script src="static/js/elementui.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="pdetail">
		<div id="" class="top_gg">
			<a href="">
				<!-- <img src="static/image/top_gg.jpg" /> -->
			</a>
		</div>
		<div id="" class="shortcut">
			<div class="layout">
				<div class="s-sub">
					<ul>
						<li>
							<a href="index.html">Index</a>
						</li>
						<li>
							<a href="systemInfo.html">Introduction</a>
						</li>
						<!-- <li>
								<a href="">Help</a>
							</li> -->
						<li>
							<a href="baoxiu.html">Policy</a>
						</li>
						<li>
							<a href="problem.html">Q&A</a>
						</li>
					</ul>
				</div>
				<div class="s-right">
					<ul>
						<li>
							<a href="index.html" v-if="!userInfo.userName">Please login first!</a>
							<a href="userInfo.html" v-else>{{userInfo.userName}}</a>
						</li>
						<!-- <li v-if="userInfo.userName">
								<a href="javascript:void(0)">Points{{userInfo.jifen}}</a>
							</li> -->
						<!--<li>
								<a href="javascript:void(0)" @click="dialogFormVisible = true">Register</a>
							</li>-->
						<li>
							<a href="javascript:void(0)">|&emsp;Shopping Cart</a>
						</li>
						<li>
							<a href="javascript:void(0)" @click="hrefOrder">|&emsp;Order</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--header-->
		<div class="header">
			<div id="" class="layout">
				<div class="left">
					<div class="logo">
						<img src="static/image/logo.png" />
					</div>
					<div class="naver">
						<ul id="naver-list">
							<li id="huawei" class="">
								<a href="ry.html" target="_blank">
									<span>PET TREATS</span>
								</a>
							</li>
							<li id="huawei" class="">
								<a href="p.html" target="_blank">
									<span>PET TOY</span>
								</a>
							</li>
							<li id="honor" class="">
								<a href="rycw.html" target="_blank">
									<span>CANNED WET FOOD</span>
								</a>
							</li>
							<li id="honor" class="">
								<a href="mate.html" target="_blank">
									<span>NUTRITION</span>
								</a>
							</li>
							<li id="honor" class="">
								<a href="nova.html" target="_blank">
									<span>MEDICAL PRODUCTS</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--Right part Of Navigation-->
				<div class="right">
					<input type="text" v-model="searchVal" placeholder="Sales" class="search-text">
					<el-button class="search-btn" icon="el-icon-search" @click="onsearchVal" style="padding: 12.5px;"
						circle></el-button>
					<!-- <input type="submit" class="search-btn" @click="onsearchVal" value="Search"> -->
				</div>
			</div>
		</div>
		<div id="car-table" class="layout">
			<p style="color:#666"><a href="index.html" style="color:#666">Index </a> > Shopping Cart</p>
			<!-- <table border cellspacing="0" v-if="jsonData.length">
					<tr>
						<th>Picture</th>
						<th>Product</th>
						<th>Price</th>
						<th>Introduction</th>
						<th>Operation</th>
					</tr>
					<tr v-for="(item,index) in jsonData" :key="index">
						<td><img :src="'sas/upload/'+item.img" alt="" srcset=""> </td>
						<td>{{item.name}}</td>
						<td>{{item.price}}</td>
						<td>{{item.jianJie}}</td>
						<td class="table-delete" @click="delet(item.id)">Delete</td>
					</tr>
				</table> -->
			<el-table :data="jsonData" style="width: 100%">
				<el-table-column label="Picture">
					<template slot-scope="scope">
						<a :href="`detail.html?id=${scope.row.id}`">
							<img :src="'sas/upload/'+scope.row.img" alt=""></a>
					</template>
				</el-table-column>
				<el-table-column prop="name" label="Product">
				</el-table-column>
				<el-table-column prop="price" label="Price">
				</el-table-column>
				<el-table-column prop="jianJie" label="Introduction">
				</el-table-column>
				<el-table-column prop="p_version" label="Style">
				</el-table-column>
				<el-table-column prop="p_color" label="Color">
				</el-table-column>
				<el-table-column prop="p_num" label="Quantity" width="180">
					<template slot-scope="scope">
						<el-input-number style="width: 138px" v-model="scope.row.p_num"
							@change="handleChange($event,scope.row)" :min="1" :max="20" label="Description">
						</el-input-number>
					</template>
				</el-table-column>
				<el-table-column label="Operation">
					<template slot-scope="scope">
						<a href="javascript:void(0)" style="color:#1989fa" @click="delet(scope.row.id)">Delete</a>
						<a href="javascript:void(0)" style="color:#1989fa" @click="toOrder(scope.row)">Order</a>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<!-- Address pop-up -->
		<el-dialog title="Please fill in the receiving address first!" :visible.sync="dialog_order" width="30%">
			<el-form :model="form">
				<el-form-item label="Address" :label-width="form.formLabelWidth">
					<!-- <el-input v-model="form.address" autocomplete="off"></el-input> -->
					<el-select v-model="form.address" placeholder="Please select!">
						<el-option v-for="item in jsonAddressData" :key="item.userAddress" :label="item.userAddress"
							:value="item.userAddress"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="Consignee" :label-width="form.formLabelWidth">
					<el-input v-model="form.userName" autocomplete="off"></el-input>
				</el-form-item>
				<el-form-item label="Mobile" :label-width="form.formLabelWidth">
					<el-input v-model="form.mobile" autocomplete="off"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialog_order = false">Cancel</el-button>
				<el-button type="primary" @click="dialogVisibleOrder = true;dialog_order = false">Comfirm</el-button>
			</span>
		</el-dialog>
		<el-dialog title="Confirm order" :visible.sync="dialogVisibleOrder" width="30%">
			<p>{{orderInfoData.name}} ({{orderInfoData.jianJie}})</p>
			<p>Price： {{orderInfoData.price}} ({{orderInfoData.p_color}}--{{orderInfoData.p_version}})</p>
			<p>Address: {{form.address}}</p>
			<p>Consignee: {{form.userName}}</p>
			<p>Mobile: {{form.mobile}}</p>
			<p style="color:red">Total : ${{orderInfoData.price * orderInfoData.p_num}}</p>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisibleOrder = false">Cancel</el-button>
				<el-button type="primary" @click="sure_order">Comfirm</el-button>
			</span>
		</el-dialog>
		<!--Copyright-->
		<div id="footer">
			<div class="foot">
				<!--<p class="foot_logo"><img src="static/image/flogo.png" /></p>-->
				<p class="">Designed and developed by Group Godzilla.<br /> Copyright © 2021-2022 Godzilla. All Rights
					Reserved.</p>
				<p class=""></p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	// Register
	Vue.component('my-component', {});
	var WEITUOSERVER = new Vue({
		el: '#pdetail',
		data: {
			jsonData: [],
			dialogTableVisible: false,
			dialogFormVisible: false,
			pid: "",
			radio_color: "1",
			radio_v: "1",
			searchVal: "",
			dialogVisibleOrder: false,
			dialog_order: false, //
			jsonAddressData: [],
			orderInfoData: {}, // 
			form: { address: "Hong Kong Special Administrative Region", formLabelWidth: "120px", userName: "", mobile: "" },
			userInfo: JSON.parse(window.sessionStorage.user),
		},
		created() {
			this.gatData();
			this.gatAddressData()
		},
		methods: {
			handleChange(value, data) {
				console.log(value);
				console.log(data);
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/car.php",
					data: { "userId": JSON.parse(window.sessionStorage.user).userId, "p_num": value, "pid": data.id, "changePnum": "changePnum" },
					dataType: "json",
					success: function (data) {
						console.log("Quantity modified successfully!")
					},
				});
			},
			gatAddressData() {
				var that = this;
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				if (!user) {
					this.$message({
						message: 'Please login first!',
						type: 'warning'
					});
					return;
				}
				$.ajax({
					type: "GET",
					url: "php/detail.php",
					data: { "userId": user.userId, "getAddressdata": "getAddressdata" },
					dataType: "json",
					success: function (res) {
						that.jsonAddressData = res.data;
						that.form.address = res.data[0].userAddress ? res.data[0].userAddress : "Hong Kong Special Administrative Region";
						that.form.userName = res.data[0].getUserName ? res.data[0].getUserName : "";
						that.form.mobile = res.data[0].userPhone ? res.data[0].userPhone : "";
					},
				});
			},
			gatData() {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/car.php",
					data: { "userId": JSON.parse(window.sessionStorage.user).userId },
					dataType: "json",
					success: function (data) {
						that.jsonData = data.data;
					},
				});
			},
			delet(id) {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/car.php",
					data: { "pid": id, "del": "del" },
					dataType: "json",
					success: function (data) {
						that.$message({
							message: "Deleted successfully!",
							type: 'success'
						});
						that.gatData();
					},
					error: function (data) {
						that.$message({
							message: data.responseText,
							type: 'warning'
						});
						window.location.reload();
					}
				});
			},
			xiadan() {
				this.$message({
					message: 'Congratulations!Order successfully!',
					type: 'success'
				});
			},
			addCar() {
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				if (!!user) {

				} else {
					this.$message({
						message: 'Please login first!',
						type: 'warning'
					});
				}
			},
			hrefOrder() {
				if (window.sessionStorage.user) {
					window.location.href = "order.html"
				} else {
					this.$message({
						message: 'Please login first!',
						type: 'warning'
					});
				}
			},
			toOrder(arg) {
				this.dialog_order = true;
				this.orderInfoData = arg;
				console.log(arg)
			},
			// Comfirm order
			sure_order() {
				if (!(this.form.address && this.form.mobile && this.form.userName)) {
					this.$message({
						message: 'Please complete the information!',
						type: 'warning'
					});
					return;
				}
				this.dialog_order = false;
				this.order();
			},
			order() {
				var that = this;
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				var that = this;
				var orderDate = this.formatDate(new Date());
				$.ajax({
					type: "GET",
					url: "php/detail.php",
					data: { "pid": that.orderInfoData.id, "userId": user.userId, "p_class": that.orderInfoData.p_class, "p_name": that.orderInfoData.name, "price": that.orderInfoData.price, "img": that.orderInfoData.img, "jianJie": that.orderInfoData.jianJie, "my_address": that.form.address, "user_name": that.form.userName, "user_mobile": that.form.mobile, "p_color": that.orderInfoData.p_color, "p_version": that.orderInfoData.p_version, "orderDate": orderDate, "orderCode": Date.parse(new Date()), "shifu": that.orderInfoData.price * that.orderInfoData.p_num, "userName": user.userName },
					dataType: "json",
					success: function (res) {
						if (res.resultCode == 200) {
							that.$message({
								message: 'Congratulations!Order successfully!',
								type: 'success'
							});
							// that.jiFen();
							that.dialogVisibleOrder = false;
							that.sales(that.orderInfoData.id);
						} else if (res.resultCode == "00") {
							that.$message({
								message: 'Please do not repeat the order!',
								type: 'warning'
							});
						}
					},
					error: function (data) {
						that.$message({
							message: 'Order failed!',
							type: 'success'
						});
					}
				});
			},
			formatDate(now) {
				var year = now.getFullYear();
				var month = now.getMonth() + 1;
				var date = now.getDate();
				var hour = now.getHours();
				var minute = now.getMinutes();
				var second = now.getSeconds();
				// return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second; 
				return year + "-" + month + "-" + date + " " + hour + ":" + minute;
			},
			sales(productId) {
				$.ajax({
					type: "GET",
					url: "php/detail.php",
					data: { "productId": productId, "addsales": "addsales" },
					dataType: "json",
					success: function (res) {
						if (res.resultCode == 200) {
							console.log("Increase sales successfully!")
						}
					},
					error: function (data) {

					}
				});
			},
			// Search
			onsearchVal() {
				var arg = encodeURI(encodeURI(this.searchVal));
				window.location.href = "index_search.html?arg=" + arg;
			},
		}
	})
</script>

</html>