<!DOCTYPE html>
<html>

<head>
	<title>Pet Mall</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="static/css/public.css" />
	<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/elementui.css" />
	<link rel="shortcut icon" href="favicon.ico">
	<script src="static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vue.js"></script>
	<script src="static/js/elementui.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="pdetail">
		<!-- <div id="" class="top_gg">
				<a href="">
					<img src="static/image/top_gg.jpg" />
				</a>
			</div> -->
		<div id="" class="shortcut">
			<div class="layout">
				<div class="s-sub">
					<ul>
						<li>
							<a href="index.html">Front Page</a>
						</li>
						<li>
							<a href="systemInfo.html">Introduction To The Mall</a>
						</li>
						<li>
							<a href="">Customer Feedback</a>
						</li>
					</ul>
				</div>
				<div class="s-right">
					<ul>
						<li>
							<a href="index.html" v-if="!userInfo.userName">Not Logged in</a>
							<a href="userInfo.html" v-else>{{userInfo.userName}}</a>
						</li>
						<!-- <li v-if="userInfo.userName">
								<a href="javascript:void(0)">积分：{{userInfo.jifen}}</a>
							</li> -->
						<!--<li>
								<a href="javascript:void(0)" @click="dialogFormVisible = true">注册</a>
							</li>-->
						<li>
							<a href="javascript:void(0)" @click="car">|&emsp;Shopping Cart</a>
						</li>
						<li>
							<a href="javascript:void(0)">|&emsp;Order</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--header-->
		<div class="header">
			<div id="" class="layout">
				<div class="left">
					<div class="logo">
						<img width="80px" height="50px" src="static/image/logo.png" />
					</div>
					<div class="naver">
						<ul id="naver-list">
							<li id="Pet_Treats" class="">
								<a href="Pet_Treats.html" target="_blank">
									<span>Pet Treats</span>
								</a>
							</li>
							<li id="Pet_Toy" class="">
								<a href="Pet_Toy.html" target="_blank">
									<span>Pet Toy</span>
								</a>
							</li>
							<li id="Canned_Wet_Food" class="">
								<a href="Canned_Wet_Food.html" target="_blank">
									<span>Canned Wet Food</span>
								</a>
							</li>
							<li id="Nutrition" class="">
								<a href="Nutrition.html" target="_blank">
									<span>Nutrition</span>
								</a>
							</li>
							<li id="Medical_Products" class="">
								<a href="Medical_Products.html" target="_blank">
									<span>Medical Products</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--导航右边部分-->
				<div class="right">
					<input type="text" v-model="searchVal" placeholder="50% off dog food" class="search-text">
					<el-button class="search-btn" icon="el-icon-search" @click="onsearchVal" style="padding: 12.5px;"
						circle></el-button>
					<!-- <input type="submit" class="search-btn" @click="onsearchVal" value="搜索"> -->
				</div>
			</div>
		</div>
		<div id="car-table" class="layout">
			<p style="color:#666"><a href="index.html" style="color:#666">Front page</a> > Order</p>
			<el-table :data="jsonData" style="width: 100%">
				<el-table-column label="main image" width="90">
					<template slot-scope="scope">
						<a :href="`detail.html?id=${scope.row.id}`">
							<img :src="'sas/upload/'+scope.row.img" alt=""></a>
					</template>
				</el-table-column>
				<el-table-column prop="p_name" label="product name" width="100">
				</el-table-column>
				<el-table-column prop="actual_price" label="Actually paid">
				</el-table-column>
				<el-table-column prop="description" label="Introduction">
				</el-table-column>
				<el-table-column prop="p_specification" label="Size">
				</el-table-column>
				<el-table-column prop="orderDate" label="Order time">
				</el-table-column>
				<el-table-column prop="orderCode" label="Order number">
				</el-table-column>
				<!-- <el-table-column
						prop="my_address"
						label="Shipping address">
					</el-table-column>
					<el-table-column
						prop="user_name"
						label="Receiver">
					</el-table-column>
					<el-table-column
						prop="user_mobile"
						label="Phone number">
					</el-table-column> -->
				<el-table-column label="operate" width="100">
					<template slot-scope="scope">
						<a href="javascript:void(0)" style="color:#1989fa" @click="delet(scope.row.id)">delete</a>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<!--底部footer版权-->
		<div id="footer">
			<div class="foot">
				<!--<p class="foot_logo"><img src="static/image/flogo.png" /></p>-->
				<p class="">Designed and developed by Group Godzilla.<br /> Copyright © 2021-2022 Godzilla. All Rights
					Reserved.</p>
				<p class=""></p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	// 注册
	Vue.component('my-component', {});
	var WEITUOSERVER = new Vue({
		el: '#pdetail',
		data: {
			jsonData: [],
			dialogTableVisible: false,
			dialogFormVisible: false,
			searchVal: "",
			pid: "",
			radio_color: null,
			radio_v: "1",
			userInfo: JSON.parse(window.sessionStorage.user),
		},
		created() {
			this.gatData();
		},
		methods: {
			gatData() {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/order.php",
					data: { "userId": JSON.parse(window.sessionStorage.user).userId },
					dataType: "json",
					success: function (data) {
						that.jsonData = data.data;
					},
				});
			},
			delet(id) {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/order.php",
					data: { "pid": id, "del": "del" },
					dataType: "json",
					success: function (data) {
						that.$message({
							message: "successfully deleted",
							type: 'success'
						});
						that.gatData();
					},
					error: function (data) {
						console.log(data.responseText)
						that.$message({
							message: data.responseText,
							type: 'success'
						});
						window.location.reload();
					}
				});
			},
			xiadan() {
				this.$message({
					message: 'Congratulations, your order is successful',
					type: 'success'
				});
			},
			addCar() {
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				if (!!user) {

				} else {
					this.$message({
						message: 'please log in first',
						type: 'warning'
					});
				}
			},
			car() {
				if (window.sessionStorage.user) {
					window.location.href = "car.html"
				} else {
					this.$message({
						message: 'please log in first',
						type: 'warning'
					});
				}
			},
			// 搜索
			onsearchVal() {
				var arg = encodeURI(encodeURI(this.searchVal));
				window.location.href = "index_search.html?arg=" + arg;
			},
		}
	})
</script>

</html>