<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/public.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/elementui.css" />
    <link rel="shortcut icon" href="favicon.ico">
    <script src="static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/elementui.js" type="text/javascript" charset="utf-8"></script>
    <title>Introduction</title>
    <style>
        #userinfo .el-input__inner {
            width: auto;
        }

        #userinfo .address .el-input__inner {
            width: 500px;
        }

        #userinfo .el-input {
            width: auto;
        }
    </style>
</head>

<body id="login-body">
    <div id="userinfo">
        <div class="login-header">
            <div class="login-body">
                <div class="login-cont">
                </div>
                <div class="login-name">
                    <b style="font-size: 18px;margin-top: -3px;float: left; margin-left:18px;">Personal Center</b>
                </div>
            </div>
        </div>
        <div class="login-main">
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <!-- Modify user name -->
                <el-tab-pane label="Modify User Name" name="first">
                    <el-form>
                        <el-form-item label="User Name" label-width="55px">
                            <el-input v-model="userName" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <el-button type="primary" plain style="width: 19%;" @click="saveName">Save</el-button>
                </el-tab-pane>
                <!-- Change Password -->
                <el-tab-pane label="Change Password" name="second">
                    <el-form>
                        <el-form-item label="Old Password &emsp;" label-width="68px">
                            <el-input v-model="oldPassword" type="password" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="New Password &emsp;" label-width="68px">
                            <el-input v-model="newPassword" type="password" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Comfirm Password" label-width="68px">
                            <el-input v-model="newPassword2" type="password" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <el-button type="primary" plain style="width: 19%;" @click="savePassword">Save</el-button>
                </el-tab-pane>
                <!-- Add address -->
                <el-tab-pane label="Add address" name="third">
                    <el-form class="address">
                        <el-form-item label="Add address" label-width="68px">
                            <el-input v-model="userAddress" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Consignee" label-width="68px">
                            <el-input v-model="getUserName" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Mobile" label-width="68px">
                            <el-input v-model="userPhone" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <el-button type="primary" plain style="width: 19%;" @click="saveAddress('save')">Save</el-button>
                </el-tab-pane>
                <!-- Address management -->
                <el-tab-pane label="Address management" name="five">
                    <el-table :data="jsonAddressData" style="width: 100%">
                        <el-table-column prop="userAddress" label="Address">
                        </el-table-column>
                        <el-table-column prop="consignee" label="Consignee">
                        </el-table-column>
                        <el-table-column prop="mobile" label="Mobile">
                        </el-table-column>
                        <el-table-column label="Operation">
                            <template slot-scope="scope">
                                <a href="javascript:void(0)" style="color:#1989fa"
                                    @click="changeM(scope.row)">Modify</a>
                                <a href="javascript:void(0)" style="color:#1989fa"
                                    @click="deletAddress(scope.row.userAddress)">Delete</a>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
            <el-dialog title="Modify default address" :visible.sync="dialogFormVisiblemorenaddress">
                <el-form :model="form">
                    <el-form-item label="Address" :label-width="formLabelWidth">
                        <el-input v-model="form.userAddress" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Consignee" :label-width="formLabelWidth">
                        <el-input v-model="form.consignee" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Mobile" :label-width="formLabelWidth">
                        <el-input v-model="form.mobile" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisiblemorenaddress = false">Cancel</el-button>
                    <el-button type="primary" @click="sureSave">Comfirm</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</body>
<script type="text/javascript">
    // Register
    Vue.component('my-component', {});
    var WEITUOSERVER = new Vue({
        el: '#userinfo',
        data: {
            jsonData: [],
            formLabelWidth: "150px",
            form: {
                userAddress: "",
                consignee: "",
                mobile: ""
            },
            dialogFormVisiblemorenaddress: false,
            userName: JSON.parse(window.sessionStorage.user).userName,
            userId: JSON.parse(window.sessionStorage.user).userId,
            activeName: 'first',
            userInfo: JSON.parse(window.sessionStorage.user),
            oldPassword: "",
            newPassword: "",
            newPassword2: "",
            userAddress: "",
            getUserName: "",
            userPhone: "",
            dataid: "",
            jsonAddressData: []
        },
        created() {
            this.gatAddressData();
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            sureSave() {
                if (!(/^1[34578]\d{9}$/.test(this.form.mobile))) {
                    alert("The mobile phone number is incorrect. Please fill it in again!");
                    return false;
                }
                this.userAddress = this.form.userAddress;
                this.consignee = this.form.consignee;
                this.mobile = this.form.mobile;
                this.saveAddress('change')
            },
            changeM(res) {
                var that = this;
                that.dialogFormVisiblemorenaddress = true;
                that.form.userAddress = res.userAddress;
                that.form.consignee = res.consignee;
                that.form.mobile = res.mobile;
                that.dataid = res.dataid;
            },
            gatData() {
                var that = this;
                $.ajax({
                    type: "GET",
                    url: "php/car.php",
                    data: { "userId": JSON.parse(window.sessionStorage.user).userId },
                    dataType: "json",
                    success: function (data) {
                        that.jsonData = data.data;
                    },
                });
            },
            gatAddressData() {
                var that = this;
                var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
                if (!user) {
                    return;
                }
                $.ajax({
                    type: "GET",
                    url: "php/detail.php",
                    data: { "userId": user.userId, "getAddressdata": "getAddressdata" },
                    dataType: "json",
                    success: function (res) {
                        that.jsonAddressData = res.data;
                    },
                });
            },
            deletAddress(userAddress) {
                var that = this;
                var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
                if (!user) {
                    return;
                }
                $.ajax({
                    type: "GET",
                    url: "php/detail.php",
                    data: { "userAddress": userAddress, "userId": user.userId, "deletAddress": "deletAddress" },
                    dataType: "json",
                    success: function (data) {
                        that.$message({
                            message: "Deleted successfully!",
                            type: 'success'
                        });
                        that.gatAddressData();
                    },
                    error: function (data) {
                        that.$message({
                            message: data.responseText,
                            type: 'warning'
                        });
                        // window.location.reload();
                    }
                });
            },
            saveName() {
                var that = this;
                if (!this.userName) {
                    that.$message({
                        message: "User Name cannot be empty!",
                        type: 'warning'
                    });
                    return;
                }
                $.ajax({
                    type: "GET",
                    url: "php/index.php",
                    data: { "userName": that.userName, "changeName": "changeName", "userId": that.userId },
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == 200) {
                            that.$message({
                                message: "Modified successfully!",
                                type: 'success'
                            });
                            var olduser = JSON.parse(window.sessionStorage.user);
                            olduser.userName = that.userName;
                            window.sessionStorage.user = JSON.stringify(olduser);
                        } else if (data.resultCode == 0001) {
                            that.$message({
                                message: data.message,
                                type: 'warning'
                            });
                        }

                    },
                    error: function (data) {
                        that.$message({
                            message: data.responseText,
                            type: 'warning'
                        });
                    }
                });
            },
            savePassword() {
                var that = this;
                if (!this.oldPassword) {
                    that.$message({
                        message: "Old password cannot be empty!",
                        type: 'warning'
                    });
                    return;
                }
                if ((this.newPassword != this.newPassword2) || this.newPassword2 == "") {
                    that.$message({
                        message: "The two new passwords are inconsistent!",
                        type: 'warning'
                    });
                    return;
                }
                $.ajax({
                    type: "GET",
                    url: "php/index.php",
                    data: { "password": that.newPassword, "changePassword": "changePassword", "userId": that.userId },
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == 200) {
                            that.$message({
                                message: "Modified successfully!",
                                type: 'success'
                            });
                        } else if (data.resultCode == 0001) {
                            that.$message({
                                message: data.message,
                                type: 'warning'
                            });
                        }

                    }
                });
            },
            saveAddress(setType) {
                var that = this;
                // if (!this.userAddress || !this.consignee || !this.mobile) {
                //     that.$message({
                //         message: "Please complete!",
                //         type: 'warning'
                //     });
                //     return;
                // }
                // if (!(/^1[34578]\d{9}$/.test(this.mobile))) {
                //     alert("The mobile phone number is incorrect. Please fill it in again!");
                //     return false;
                // }
                if (setType == "save") {
                    var sendData = { "userAddress": that.userAddress, "addUserAddress": "addUserAddress", "userId": that.userId, "userPhone": that.userPhone, "getUserName": that.getUserName, "type": setType, "dataid": Date.parse(new Date()) }
                } else {
                    var sendData = { "userAddress": that.userAddress, "addUserAddress": "addUserAddress", "userId": that.userId, "userPhone": that.userPhone, "getUserName": that.getUserName, "type": setType, "dataid": that.dataid }
                }
                $.ajax({
                    type: "GET",
                    url: "php/index.php",
                    data: sendData,
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == 200) {
                            that.$message({
                                message: "Set up successfully!",
                                type: 'success'
                            });
                            that.userAddress = "";
                            that.userPhone = "";
                            that.getUserName = "";
                            that.gatAddressData();
                            that.dialogFormVisiblemorenaddress = false;
                        } else if (data.resultCode == 0001) {
                            that.$message({
                                message: data.message,
                                type: 'warning'
                            });
                        }

                    }
                });
            },
            formatDate(now) {
                var year = now.getFullYear();
                var month = now.getMonth() + 1;
                var date = now.getDate();
                var hour = now.getHours();
                var minute = now.getMinutes();
                var second = now.getSeconds();
                // return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second; 
                return year + "-" + month + "-" + date + " " + hour + ":" + minute;
            },
        }
    })
</script>

</html>